PROXMOX_HOST_IP=135.181.128.170
PROXMOX_HOST_SSH_USER=root
PROXMOX_HOST_SSH_KEY=~/.ssh/id_ed25519
ANSIBLE_SSH_PUBLIC_KEY_PATH=~/.ssh/id_ed25519.pub
PROXMOX_NODE_NAME=proxmox-lab
PROXMOX_API_TOKEN_ID=terraform@pve!terraform-token
PROXMOX_API_TOKEN_SECRET=<secret from proxmox-api-token.json>
STUDENT_PASSWORD_HASH=<openssl passwd -6 'yourpassword'>
STUDENT_COUNT=1
